@media only screen and (max-width: 1536px){
     #flipvid{
          transform: scale(1.7);

     }
     .fourthsect {
          width: 75%; 
          height: 530px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     .ninth-sect {
          width: 75%; 
          height: 530px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     #seven {
          width: 75%; 
          height: 540px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     .five-one {
          width: 80%;
          height: 380px;
          border-radius: 3%;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; background-color: #633dea;
     }

     .five-two {
          width: 80%; 
          height: 420px;
          border-radius: 3%;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     #mficons {
          width: 70%;
          height: 545px; 
          border-radius: 3%;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px
     }

     #icons {
          transform: scale(0.95);
     }

     #eight-mom {
          width: 75%; 
          height: 540px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     .last {
          width: 80%;
          height: 380px;
          border-radius: 3%;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; background-color: #633dea;
     }
}

@media (max-width: 768px){
     .flipvid{
          transform: rotateY(180deg) scale(1);
          overflow: hidden;
          object-fit: contain;
     }

     #stairs{
          transform: scale(1);
     }

     .fourthsect {
          width: 80%; 
          height: 510px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     #seven {
          width: 80%; 
          height: 325px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }


     .five-one {
          width: 80%;
          height: 380px;
          border-radius: 3%;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; background-color: #633dea;
     }

     .five-two {
          width: 80%; 
          height: 420px;
          border-radius: 3%;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     #eight-1 {
          width: 80%; 
          height: 325px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     #eight-2 {
          width: 80%; 
          height: 460px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     #eight-2 div img {
          width: 80%;
          height: 80%;
     }

     #mficons {
          width: 70%;
          height: 545px;
          border-radius: 3%;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px
     }

     #icons {
          max-width: 90%; 
          max-height: 90%;
          overflow: hidden;
          margin-left: 1em;
          padding-bottom: 30px;
     }

     .ninth-sect {
          width: 80%; 
          height: 590px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

}


@media (min-width: 768px) and (max-width: 1535px) {
     .fifth-sect {
          width: 75%;
     }

     .five {
          width: 45%;
          height: 500px;
     }

     .comp-vid {
          transform: scale(1.8);
     }
}

@media (min-width: 640px) and (max-width: 768px) {
     
}



@media (min-width: 768px) and (max-width: 1024px) {
     .podium {
          transform: scale(1.4);
     }

     .headings {
          font-size: 0.8em;
     }

     .headingz {
          font-size: 3em;
     }

     .experience {
          font-size: 2em;
     }

     .no-annual {
          font-size: 0.8em;
     }

     .new-deals {
          padding: 0 40px;
          position: relative;
          left: -50px;
          font-size: 2.5em;
     }

     .merchants {
          font-size: 3em;
     }

     .no-credit {
          font-size: 0.5em;
     }

     .man-exp {
          font-size: 2em;
     }

     .believe {
          font-size: 0.45em;
     }

     .all-ears {
          font-size: 0.7em;
     }

     .podium {
          transform: scale(0.7);
     }

     .epic {
          font-size: 1em;
          position: relative;
          left: -120px;
     }

     .split-bills {
          font-size: 0.8em;
     }

     .rocket {
          position: relative;
          left: -50px;
     }
}

@media (min-width: 1024px) and (max-width: 1280px) {
     .experience {
          font-size: 2em;
     }

     .no-annual {
          font-size: 0.7em;
     }

     .no-credit {
          font-size: 0.6em;
     }

     .believe {
          font-size: 0.6em;
     }

     .podium {
          transform: scale(1.2);
     }

     .epic {
          font-size: 0.7em;
     }

     .merchants {
          font-size: 3em;
     }
}

@media (min-width: 1280px) and (max-width: 1536px) {
     .podium {
          transform: scale(1.4);
     }
}





