@media only screen and (max-width: 1536px){
     #flipvid{
          transform: scale(1.7);

     }
     .fourthsect {
          width: 75%; 
          height: 530px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     .ninth-sect {
          width: 75%; 
          height: 530px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     #seven {
          width: 75%; 
          height: 540px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     .five-one {
          width: 80%;
          height: 380px;
          border-radius: 3%;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; background-color: #633dea;
     }

     .five-two {
          width: 80%; 
          height: 420px;
          border-radius: 3%;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     #mficons {
          width: 70%;
          height: 545px; 
          border-radius: 3%;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px
     }

     #icons {
          transform: scale(0.95);
     }

     #eight-mom {
          width: 75%; 
          height: 540px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     .last {
          width: 80%;
          height: 380px;
          border-radius: 3%;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; background-color: #633dea;
     }
}

@media (min-width: 361px) and (max-width: 640px) {
     .rocket {
          margin-top: -80px;
          transform: scale(0.6);
     }

     .credit-limits {
          position: relative;
          top: -40px;
     }

     .play-g {
          transform: scale(2.5);
     }    

}


@media (max-width: 768px){
     .flipvid{
          transform: rotateY(180deg) scale(1);
          overflow: hidden;
          object-fit: contain;
     }

     #stairs{
          transform: scale(1);
     }

     .fourthsect {
          width: 80%; 
          height: 510px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     #seven {
          width: 80%; 
          height: 325px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }


     .five-one {
          width: 80%;
          height: 380px;
          border-radius: 3%;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; background-color: #633dea;
     }

     .five-two {
          width: 80%; 
          height: 420px;
          border-radius: 3%;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     #eight-1 {
          width: 80%; 
          height: 325px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     #eight-2 {
          width: 80%; 
          height: 460px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     #eight-2 div img {
          width: 80%;
          height: 80%;
     }

     #mficons {
          width: 70%;
          height: 545px;
          border-radius: 3%;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px
     }

     #icons {
          max-width: 50%; 
          max-height: 50%;
          overflow: hidden;
          margin-left: 100px;
          padding-bottom: 30px;
     }

     .ninth-sect {
          width: 80%; 
          height: 590px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     .new-deals {
          margin-top: 2em;
          font-size: 1.5em;
     }

     /* .play-g {
          transform: scale(2);
     } */
}


@media (min-width: 768px) and (max-width: 1535px) {
     .fifth-sect {
          width: 75%;
     }

     .five {
          width: 45%;
          height: 500px;
     }

     .comp-vid {
          transform: scale(1.8);
     }

     #icons {
          max-width: 70%; 
          max-height: 70%;
          overflow: hidden;
          margin-left: 1em;
          padding-bottom: 30px;
     }



}



@media (min-width: 768px) and (max-width: 1024px) {
     .podium {
          transform: scale(1.4);
     }

     .headings {
          font-size: 0.8em;
     }

     .headingz {
          font-size: 3em;
     }

     .experience {
          font-size: 2em;
     }

     .no-annual {
          font-size: 0.8em;
     }

     .new-deals {
          padding: 0 40px;
          position: relative;
          left: -50px;
          font-size: 2.5em;
     }

     .merchants {
          font-size: 3em;
     }

     .no-credit {
          font-size: 0.5em;
     }

     .man-exp {
          font-size: 2em;
     }

     .believe {
          font-size: 0.45em;
     }

     .all-ears {
          font-size: 0.7em;
     }

     .podium {
          transform: scale(0.7);
     }

     .epic {
          font-size: 1em;
          position: relative;
          left: -120px;
     }

     .split-bills {
          font-size: 0.8em;
     }

     .rocket {
          position: relative;
          left: -50px;
     }
}

@media (min-width: 1024px) and (max-width: 1280px) {
     .experience {
          font-size: 2em;
     }

     .no-annual {
          font-size: 0.7em;
     }

     .no-credit {
          font-size: 0.6em;
     }

     .believe {
          font-size: 0.6em;
     }

     .podium {
          transform: scale(1.2);
     }

     .epic {
          font-size: 0.7em;
     }

     .merchants {
          font-size: 3em;
     }
}

@media (min-width: 1280px) and (max-width: 1536px) {
     .podium {
          transform: scale(1.4);
     }
}

@media (min-width: 640px) and (max-width: 768px) {
     .play-g {
          transform: scale(0.5);
     }

     .podium {
          transform: scale(0.5);
     }
}

@media (max-width: 360px) {

     #icons {
          max-width: 50%; 
          max-height: 50%;
          overflow: hidden;
          margin-left: 70px;
          padding-bottom: 30px;
     }

     .new-deals {
          font-size: 1.7em;
          width: 120%;
     }

     .merchants {
          font-size: 1.5em;
     }

     .experience {
          font-size: 1.3em;
          padding-right: 20px;
     }

     .man-exp {
          font-size: 1.5em;
          padding-right: 20px;
     }

     .all-ears {
          font-size: 1.2em;
     }

}

.container-f {
     max-width: 1170px;
     margin: auto;
}

.rows-f {
     display: flex;
}

.footer-f {
     /* height: 100vh; */
     background-color: #4a3083;
     padding: 80px 40px 0px 0px;
     /* padding-right: 20px; */
     padding-bottom: 25px;
}

.footer-col-f{
     width: 25%;
     /* padding: 0 15px; */
}

.footer-col-f h4 {
     font-size: 1.4em;
     font-weight: 500;
     color: #FFFFFFE6;
     margin-bottom: 1.5em;
     position: relative;
}

.footer-col-f ul li a {
     color: #ffffff96;
     text-decoration: none;
     font-size: 1.3em;
}



@media(min-width: 1536px) and (max-width: 1920px){
     .man-exp{
          font-size: 3em;
     }

     .ninth-sect {
          width: 80%; 
          height: 590px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     .man-video {
          transform: scale(0.7);
     }

     #seven {
          width: 75%; 
          height: 540px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }

     .fourthsect {
          width: 75%; 
          height: 530px; 
          border-radius: 3%; 
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     }


     #icons {
          transform: scale(0.5);
     }

     .comp-vid{
          transform: scale(2);
     }

     .exp-vid {
          transform: scale(0.7);
     }

     .full-foot {
          font-size: larger;
     }

}






